fastapi
uvicorn[standard]
httpx
pydantic-settings
requests
faster-whisper
sounddevice
webrtcvad-wheels
openwakeword
pyaudio
onnxruntime
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client